<a href="https://colab.research.google.com/github/agubuffa/ProyectosData/blob/main/comisionesPermanentes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#importo librerias
import pandas as pd
import numpy as np

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
#importo el archivo del mes que corresponda con las comisiones y leo el df
url="/content/drive/MyDrive/comisiones_octubre.csv"
df=pd.read_csv(url, sep=",")
df.head()

,Cuit,Productor,Nombre Productor,Fecha ingreso,Ingreso,Origen Ingreso,Asegurado,Ramo,Póliza,Certificado,...,Premio,Comisión normal,Comisión cobranza,Comisión fomento,Comisión otras,Comisión total,Productor póliza,Remesa Self,Remesa productor,Cobrador
0,20319010360,28787,GOMEZ GARDA RAFAEL AGUSTIN,2022-09-07 00:00:00.0,17077502,PAGF,ZITELLI NICOLAS ARIEL,1,1689536,0,...,409.00,72.35,0.0,0.0,0.0,72.35,28787,14570391.0,0.0,NaN
1,20319010360,28787,GOMEZ GARDA RAFAEL AGUSTIN,2022-09-07 00:00:00.0,17077502,PAGF,CONS. DE PROP.: CHARCAS N* 1138 - CORDOBA,1,1630098,0,...,1099.11,196.66,0.0,0.0,0.0,196.66,28787,14570391.0,0.0,0.0
2,20319010360,28787,GOMEZ GARDA RAFAEL AGUSTIN,2022-09-07 00:00:00.0,17077502,PAGF,ZITELLI NICOLAS ARIEL,1,1689536,0,...,36652.00,6588.67,0.0,0.0,0.0,6588.67,28787,14570391.0,0.0,NaN
3,20319010360,28787,GOMEZ GARDA RAFAEL AGUSTIN,2022-09-07 00:00:00.0,17077502,PAGF,ZITELLI NICOLAS ARIEL,1,1689536,0,...,497.00,88.50,0.0,0.0,0.0,88.50,28787,14570391.0,0.0,NaN
4,20319010360,28787,GOMEZ GARDA RAFAEL AGUSTIN,2022-09-05 00:00:00.0,17073719,PAGF,DONADIO EDGARDO GABRIEL,4,28525183,0,...,5353.00,517.60,0.0,0.0,0.0,517.60,28787,14567219.0,0.0,NaN

### ANALISIS EXPLORATORIO

In [8]:
#lo configuro para que se vean todas las columnas
pd.options.display.max_columns
pd.options.display.max_columns = None
df.head()

,Cuit,Productor,Nombre Productor,Fecha ingreso,Ingreso,Origen Ingreso,Asegurado,Ramo,Póliza,Certificado,Endoso,Fecha Emisión Endoso,Fecha Vigencia Endoso,Provincia,Rol,Moneda,Prima,Premio,Comisión normal,Comisión cobranza,Comisión fomento,Comisión otras,Comisión total,Productor póliza,Remesa Self,Remesa productor,Cobrador
0,20319010360,28787,GOMEZ GARDA RAFAEL AGUSTIN,2022-09-07 00:00:00.0,17077502,PAGF,ZITELLI NICOLAS ARIEL,1,1689536,0,3,2022-06-27 00:00:00.0,2022-06-27 00:00:00.0,CORDOBA,P,$,206.72,409.00,72.35,0.0,0.0,0.0,72.35,28787,14570391.0,0.0,NaN
1,20319010360,28787,GOMEZ GARDA RAFAEL AGUSTIN,2022-09-07 00:00:00.0,17077502,PAGF,CONS. DE PROP.: CHARCAS N* 1138 - CORDOBA,1,1630098,0,0,2021-10-27 00:00:00.0,2021-11-01 00:00:00.0,CORDOBA,P,$,595.93,1099.11,196.66,0.0,0.0,0.0,196.66,28787,14570391.0,0.0,0.0
2,20319010360,28787,GOMEZ GARDA RAFAEL AGUSTIN,2022-09-07 00:00:00.0,17077502,PAGF,ZITELLI NICOLAS ARIEL,1,1689536,0,0,2022-06-10 00:00:00.0,2022-06-01 00:00:00.0,CORDOBA,P,$,18824.77,36652.00,6588.67,0.0,0.0,0.0,6588.67,28787,14570391.0,0.0,NaN
3,20319010360,28787,GOMEZ GARDA RAFAEL AGUSTIN,2022-09-07 00:00:00.0,17077502,PAGF,ZITELLI NICOLAS ARIEL,1,1689536,0,2,2022-06-24 00:00:00.0,2022-06-24 00:00:00.0,CORDOBA,P,$,252.85,497.00,88.50,0.0,0.0,0.0,88.50,28787,14570391.0,0.0,NaN
4,20319010360,28787,GOMEZ GARDA RAFAEL AGUSTIN,2022-09-05 00:00:00.0,17073719,PAGF,DONADIO EDGARDO GABRIEL,4,28525183,0,2,2022-08-30 00:00:00.0,2022-09-08 00:00:00.0,CORDOBA,P,$,3044.71,5353.00,517.60,0.0,0.0,0.0,517.60,28787,14567219.0,0.0,NaN

In [9]:
#uso index para ver donde empieza donde finaliza y de cuanto en cuanto va. 
#uso info para ver el nombre de las columnas. me llama la atencion que no figura el num de cliente. 
#uso shape para ver cant de filas y cant de columnas. tengo 292 filas
#uso info para ver cada columna, cuantos datos no nulos tiene, y de que tipo es la columna

print(df.index)
print(df.columns)
print(df.shape) 
print(df.info())

RangeIndex(start=0, stop=356, step=1)
Index(['Cuit', 'Productor', 'Nombre Productor', 'Fecha ingreso', 'Ingreso',
       'Origen Ingreso', 'Asegurado', 'Ramo', 'Póliza', 'Certificado',
       'Endoso', 'Fecha Emisión Endoso', 'Fecha Vigencia Endoso', 'Provincia',
       'Rol', 'Moneda', 'Prima', 'Premio', 'Comisión normal',
       'Comisión cobranza', 'Comisión fomento', 'Comisión otras',
       'Comisión total', 'Productor póliza', 'Remesa Self', 'Remesa productor',
       'Cobrador'],
      dtype='object')
(356, 27)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 356 entries, 0 to 355
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cuit                   356 non-null    int64
 1   Productor              356 non-null    int64
 2   Nombre Productor       356 non-null    object
 3   Fecha ingreso          356 non-null    object
 4   Ingreso                356 non-null    int64
 5   Origen Ingreso         356 non-null    object
 6   Asegurado              356 non-null    object
 7   Ramo                   356 non-null    int64
 8   Póliza                 356 non-null    int64
 9   Certificado            356 non-null    int64
 10  Endoso                 356 non-null    int64
 11  Fecha Emisión Endoso   356 non-null    object
 12  Fecha Vigencia Endoso  356 non-null    object
 13  Provincia              356 non-null    object
 14  Rol                    356 non-null    object
 15  Moneda                 356 non-null    object
 16  Prima                  356 non-null    float64
 17  Premio                 356 non-null    float64
 18  Comisión normal        356 non-null    float64
 19  Comisión cobranza      356 non-null    float64
 20  Comisión fomento       356 non-null    float64
 21  Comisión otras         356 non-null    float64
 22  Comisión total         356 non-null    float64
 23  Productor póliza       356 non-null    int64
 24  Remesa Self            107 non-null    float64
 25  Remesa productor       107 non-null    float64
 26  Cobrador               268 non-null    float64
dtypes: float64(10), int64(8), object(9)
memory usage: 75.2+ KB
None

In [10]:
#aplico filtro para ver solo las columnas que me interesan
df_clean=df[['Asegurado', 'Ramo', 'Póliza','Comisión normal','Comisión total']]
df_clean.head(5)

,Asegurado,Ramo,Póliza,Comisión normal,Comisión total
0,ZITELLI NICOLAS ARIEL,1,1689536,72.35,72.35
1,CONS. DE PROP.: CHARCAS N* 1138 - CORDOBA,1,1630098,196.66,196.66
2,ZITELLI NICOLAS ARIEL,1,1689536,6588.67,6588.67
3,ZITELLI NICOLAS ARIEL,1,1689536,88.50,88.50
4,DONADIO EDGARDO GABRIEL,4,28525183,517.60,517.60

In [11]:
#renombro las columnas que tienen espacios y que tienen asentos. 

df_clean=df_clean.rename(columns={"Póliza":"Poliza","Comisión normal":"Comision_normal", "Comisión total":"Comision_total"})
df_clean.head(5)

,Asegurado,Ramo,Poliza,Comision_normal,Comision_total
0,ZITELLI NICOLAS ARIEL,1,1689536,72.35,72.35
1,CONS. DE PROP.: CHARCAS N* 1138 - CORDOBA,1,1630098,196.66,196.66
2,ZITELLI NICOLAS ARIEL,1,1689536,6588.67,6588.67
3,ZITELLI NICOLAS ARIEL,1,1689536,88.50,88.50
4,DONADIO EDGARDO GABRIEL,4,28525183,517.60,517.60

In [12]:
com_bruta=df_clean['Comision_total'].sum()
print(f'La comision bruta es= {com_bruta}')

com_neta= 76476
print(f'La comision neta es es= {com_neta}')

com_descuentos= 2000 + 22.50 + 1602
print(f'Los descuentos son= {com_descuentos}')

La comision bruta es= 77467.95000000001
La comision neta es es= 76476
Los descuentos son= 3624.5

### COMISIONES GER BRAVO

In [13]:
list_g=["PEREZ HEREDIA EMANUEL RODRIGO", "PERICHAULT LEANDRO IVAN", "CONCI SOFIA EDITH", "BRAVO NATALIA SOLEDAD", 
         "PEREZ ROMERO ENRIQUE SERGIO", "PEREZ HEREDIA FACUNDO SERGIO", "CRUZ GABRIEL JUAN", "MORZONE AVILA MATHIAS EZEQUIEL", "asdas"]

In [14]:
len(list_g)

9

In [15]:
for i in list_g:
  print(i)
  german1=df_clean[df_clean.Asegurado.isin([i])]
  #german2=df_clean['Asegurado'].isin([i])

PEREZ HEREDIA EMANUEL RODRIGO
PERICHAULT LEANDRO IVAN
CONCI SOFIA EDITH
BRAVO NATALIA SOLEDAD
PEREZ ROMERO ENRIQUE SERGIO
PEREZ HEREDIA FACUNDO SERGIO
CRUZ GABRIEL JUAN
MORZONE AVILA MATHIAS EZEQUIEL
asdas

In [16]:
german1.groupby(['Asegurado']).sum('Comision_total')

Empty DataFrame
Columns: [Ramo, Poliza, Comision_normal, Comision_total]
Index: []

In [17]:
#intento hacer el mismo filtro que en la celda anterior pero usando el metodo isin

german=df_clean[df_clean.Asegurado.isin(["PEREZ HEREDIA EMANUEL RODRIGO", "PERICHAULT LEANDRO IVAN", "CONCI SOFIA EDITH", "BRAVO NATALIA SOLEDAD", 
                                         "PEREZ ROMERO ENRIQUE SERGIO", "PEREZ HEREDIA FACUNDO SERGIO", "CRUZ GABRIEL JUAN", "MORZONE AVILA MATHIAS EZEQUIEL"])]
german.groupby(['Asegurado']).sum('Comision_total')

,Ramo,Poliza,Comision_normal,Comision_total
Asegurado,,,,
BRAVO NATALIA SOLEDAD,47,56666719,834.57,834.57
CONCI SOFIA EDITH,58,57393184,688.88,688.88
CRUZ GABRIEL JUAN,67,31212668,762.64,762.64
MORZONE AVILA MATHIAS EZEQUIEL,35,61777042,955.68,955.68
PEREZ HEREDIA EMANUEL RODRIGO,70,120639959,4092.00,4092.00
PEREZ HEREDIA FACUNDO SERGIO,35,61833319,1053.60,1053.60
PEREZ ROMERO ENRIQUE SERGIO,12,7159600,771.58,771.58
PERICHAULT LEANDRO IVAN,35,60298749,814.04,814.04

In [18]:
german.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 26 to 312
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Asegurado        25 non-null     object
 1   Ramo             25 non-null     int64
 2   Poliza           25 non-null     int64
 3   Comision_normal  25 non-null     float64
 4   Comision_total   25 non-null     float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.2+ KB

In [19]:
german_filtro=german["Comision_total"].sum()
german_filtro

9972.99

In [20]:
br=df_clean['Comision_total'].sum()
br

77467.95000000001

In [21]:
#funcion de calculo de comisiones German
neto= 76476
bruto= br
costos= 2000 + 22.50 + 1602
def  calcula_g (bruto, costos):
    part_german= german_filtro/ bruto
    costos_german= part_german*costos
    neto_german= german_filtro - costos_german
    print("La participacion de germán en el total es: ", part_german)
    print("El costo atribuible a Germán del total es: ", costos_german)
    print("El monto de comisiones a transferir a Germán es: ", neto_german)
    return

calcula_g(bruto, costos)

La participacion de germán en el total es:  0.12873698090629734
El costo atribuible a Germán del total es:  466.60718729487473
El monto de comisiones a transferir a Germán es:  9506.382812705126

### COMISIONES STEFI POSCA

In [22]:
#STEFI
# filtro todos sus asegurados del df

stefi=df_clean[df_clean.Asegurado.isin(["POSCA STEFANIA", "POSCA SEBASTIAN ALEJANDRO", "RAFFAELLI EDUARDO MARTIN", "ZAMBONI MARTA",
                                        "RUFFINI CARLA DANIELA", "DONEMBERG NADIR", "CORDOBA SILVINA ANDREA" , "MOTOS ZAMBONI OCTAVIO"])]
stefi.groupby('Asegurado').sum('Comision_total')

                           Ramo     Poliza  Comision_normal  Comision_total
Asegurado
CORDOBA SILVINA ANDREA       67   55841117           646.37          646.37
DONEMBERG NADIR              94   58344102           760.76          760.76
MOTOS ZAMBONI OCTAVIO       134  115048452             0.00            0.00
POSCA SEBASTIAN ALEJANDRO    31   55136042           900.07          900.07
POSCA STEFANIA               91   34443166           363.84          363.84
RAFFAELLI EDUARDO MARTIN     39   31614401           397.28          397.28
RUFFINI CARLA DANIELA        24    2891394           129.40          129.40
ZAMBONI MARTA                94   58337246           543.85          543.85

In [23]:
#suma de las comisiones stefi
stefi_filtro=stefi["Comision_total"].sum()
stefi_filtro

3741.57

In [24]:

#funcion de calculo de comisiones Stefi
def  calcula_s (bruto, costos):
    part_stefi= stefi_filtro/ bruto
    costos_stefi= part_stefi*costos
    neto_stefi= stefi_filtro - costos_stefi
    print("La participacion de Stefi en el total es: ", part_stefi)
    print("El costo atribuible a Stefi del total es: ", costos_stefi)
    print("El monto de comisiones a transferir a Stefi es: ", neto_stefi)
    return

calcula_s(bruto, costos)

La participacion de Stefi en el total es:  0.04829829626316431
El costo atribuible a Stefi del total es:  175.05717480583903
El monto de comisiones a transferir a Stefi es:  3566.512825194161

### COMISIONES CARO ROURA

In [25]:
#CARO
# filtro todos sus asegurados del df

caro=df_clean[df_clean.Poliza.isin(["28625907"])]
caro

Empty DataFrame
Columns: [Asegurado, Ramo, Poliza, Comision_normal, Comision_total]
Index: []

In [26]:
caro.head()

Empty DataFrame
Columns: [Asegurado, Ramo, Poliza, Comision_normal, Comision_total]
Index: []

In [27]:
#suma de las comisiones stefi
caro_filtro=caro["Comision_total"].sum()
caro_filtro

0.0

In [28]:

#funcion de calculo de comisiones Stefi
def  calcula_s (bruto, costos):
    part_caro= caro_filtro/ bruto
    costos_caro= part_caro*costos
    neto_caro= caro_filtro - costos_caro
    print("La participacion de Caro  en el total es: ", part_caro)
    print("El costo atribuible a Caro del total es: ", costos_caro)
    print("El monto de comisiones a transferir a Caro es: ", neto_caro)
    return

calcula_s(32588.78, 2161.77)

La participacion de Caro  en el total es:  0.0
El costo atribuible a Caro del total es:  0.0
El monto de comisiones a transferir a Caro es:  0.0

### Comisiones Agus Buffa

In [29]:
#left_df.merge(right_df, on='user_id', how='left')


agus= df_clean.merge(german, on='Asegurado', how='left_only')
agus

KeyError: ignored